
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body, ul, li {
  margin: 0;
  padding: 4;
}

body {
  background-color: black;
}

header {
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 10px 0px 30px;
}

header h1 {
  float: left;
  margin: 5px 0px;
  color: white;
  font-family: 'Meddon', cursive;
}

header nav ul {
  height: 70px;
  float: right;
}

header nav ul li {
  height: 70px;
  display: inline-block;
}

header nav ul li a {
  height: 30px;
  display: block;
  padding: 17px 20px;
  color: white;
  font-size: 2.2em;
  text-decoration: none;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

header nav ul li a:hover{
  color: darkkhaki;
}

header nav ul li a.active{
  height: 33px;
  border-bottom: none;
}

header nav ul li a.link-1 { background-color: darkcyan; }
header nav ul li a.link-2 { background-color: darkorchid; }
header nav ul li a.link-3 { background-color: darkseagreen; }


section {
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
}

section#home { background-image: url(http://static.tumblr.com/212fd227251fea69b963ce5f1c999dca/7f3vfwh/GYmn521na/tumblr_static_1cwqqrnw4yrok4gsw0w0ggcg0.jpg); }
section#about { background-image: url(http://xn--80aqafcrtq.cc/img/8/8/8/88815.jpg); }
section#projects { background-image: url(http://gamesapk.biz/images/47634-stars-galaxies-purple-hd-wallpaper.jpg); }

section h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 0px;
}

section .illustration1 {
  width: 100%;
  height: 240px;
  border: 2px solid gold;
  background: url() no-repeat;
  margin-top: 15px;
}
section .illustration2{
  width: 100%;
  height: 240px;
  border: 2px solid gold;
  background: url() no-repeat;
  margin-top: 15px;
}
section .illustration3 {
  width: 100%;
  height: 240px;
  border: 2px solid gold;
  background: url() no-repeat;
  margin-top: 15px;
}

section p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em; 
}

body { font: 400 1em/1.5 "Neuton"; background: black; color:gold; text-align: center; margin: 0 }

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
}

p span {

	font: 700 4em/1 "Oswald", sans-serif;
	letter-spacing: 0;
	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	background-color: black; 
	-webkit-background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}