#article1 {
    color: black;
    height: 20px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round";
  background: #444444;
}

#header {
  background: url(http://www.pressafrik.com/photo/art/grande/6322694-9534629.jpg) no-repeat center top;
  background-size: cover;
  position: fixed;
  height: 90%;
  bottom: 10%;
  right: 0;
  left: 0;
  top: 0;
}
#header .center {
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  color: #F5F7FA;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#header .center .middle {
  position: absolute;
  margin-top: -8em;
  right: 0;
  left: 0;
  top: 50%;
}
#header .center .middle h1 {
  font-family: "Lusitana";
  font-weight: normal;
  line-height: 1em;
  font-size: 11em;
  margin: 0;
}
#header .center .middle span {
  line-height: 5em;
  font-size: 1em;
}

#pageHr {
  background: #FFFFFF;
  position: relative;
  height: 5px;
  display: block;
  right: 0px;
  left: 0px;
  top: 90%;
  z-index: 1;
}
#pageHr > i {
  margin: -25px;
  border: 5px solid #FFFFFF;
  height: 40px;
  width: 40px;
  background: #48CFAD;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#pageHr > i > i {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 36.8px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  display: block;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#page {
  background: #37BC9B;
  position: relative;
  height: 123.45%;
  top: 90%;
}
.social {
  margin: 140px 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .15s ease;
          transition: all .15s ease;
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.social a:hover {
  color: #fff;
}
.social a:hover .tooltip {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
}
.social a:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social .tooltip {
  opacity: 0;
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all .15s ease;
          transition: all .15s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.social .tooltip span {
  position: relative;
  left: -50%;
  padding: 6px 8px 5px 8px;
  border-radius: 3px;
  color: #fff;
  font-size: .7rem;
  line-height: 1;
  z-index: 1;
}
.social .tooltip span:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
}
.social .social-twitter {
  background: #2b97f1;
  background: -webkit-linear-gradient(#359cf1, #288fe4);
  background: linear-gradient(#359cf1, #288fe4);
  border-bottom: 1px solid #2278c0;
  color: #95cbf8;
}
.social .social-twitter:hover {
  color: #d4eafc;
  text-shadow: 0px 1px 0px #2278c0;
}
.social .social-twitter span {
  background: #2b97f1;
  background: -webkit-linear-gradient(#4aa6f3, #2b97f1);
  background: linear-gradient(#4aa6f3, #2b97f1);
  color: #d4eafc;
}
.social .social-twitter span:after {
  border-top-color: #2b97f1;
}
.social .social-google {
  background: #db2814;
  background: -webkit-linear-gradient(#dc321f, #d02613);
  background: linear-gradient(#dc321f, #d02613);
  border-bottom: 1px solid #af2010;
  color: #ed9389;
}
.social .social-google:hover {
  color: #f7d4d0;
  text-shadow: 0px 1px 0px #af2010;
}
.social .social-google span {
  background: #db2814;
  background: -webkit-linear-gradient(#e04837, #db2814);
  background: linear-gradient(#e04837, #db2814);
  color: #f7d4d0;
}
.social .social-google span:after {
  border-top-color: #db2814;
}
.social .social-instagram {
  background: #527fa6;
  background: -webkit-linear-gradient(#5a85aa, #4d789d);
  background: linear-gradient(#5a85aa, #4d789d);
  border-bottom: 1px solid #416584;
  color: #a8bfd2;
}
.social .social-instagram:hover {
  color: #dce5ed;
  text-shadow: 0px 1px 0px #416584;
}
.social .social-instagram span {
  background: #527fa6;
  background: -webkit-linear-gradient(#6b92b3, #527fa6);
  background: linear-gradient(#6b92b3, #527fa6);
  color: #dce5ed;
}
.social .social-instagram span:after {
  border-top-color: #527fa6;
}
.social .social-github {
  background: #4284c0;
  background: -webkit-linear-gradient(#4b8ac3, #3e7db6);
  background: linear-gradient(#4b8ac3, #3e7db6);
  border-bottom: 1px solid #346999;
  color: #a0c1df;
}
.social .social-github:hover {
  color: #d9e6f2;
  text-shadow: 0px 1px 0px #346999;
}
.social .social-github span {
  background: #4284c0;
  background: -webkit-linear-gradient(#5e96c9, #4284c0);
  background: linear-gradient(#5e96c9, #4284c0);
  color: #d9e6f2;
}
.social .social-github span:after {
  border-top-color: #4284c0;
}
.social i {
  position: relative;
  top: 1px;
  font-size: 1.5rem;
}
@media (max-width: 320px) {

}